:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.not-found {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;

  &__text {
    color: var(--secondary);
  }
}