<form
  class="auth"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <legend class="auth__legend">
    Login
  </legend>

  <mat-form-field appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput
      type="text"
      placeholder="Enter login"
      formControlName="login"
    >
    <mat-icon matSuffix>person</mat-icon>

    <mat-error *ngIf="isFormControlValid('login')">
      {{ getErrorMessage('login')?.message }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput
      type="password"
      placeholder="Enter password"
      formControlName="password"
    >
    <mat-icon matSuffix>vpn_key</mat-icon>

    <mat-error *ngIf="isFormControlValid('password')">
      {{ getErrorMessage('password')?.message }}
      <mat-icon
        *ngIf="getErrorMessage('password')?.tips"
        matTooltip="{{ getErrorMessage('password')?.tips }}"
      >
        help
      </mat-icon>
    </mat-error>
  </mat-form-field>

  <div>
    <button
      mat-raised-button
      color="primary"
      class="auth__submit"
      [disabled]="loginForm.invalid"
      type="submit"
    >
      Login
    </button>
  </div>
</form>
