.header {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);

  &__search {
    width: 100%;
    max-width: 570px;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
  }

  &__user {
    position: absolute;
    right: 0;
  }
}