.header {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);

  &__search {
    width: 100%;
    max-width: 570px;
  }

  &__user {
    position: absolute;
    top: 26px;
    right: 30px;
  }
}